In [1]:
from functools import reduce, lru_cache
from itertools import combinations, permutations, product, accumulate, groupby
from collections import defaultdict, Counter
from operator import add, mul, sub, truediv, pow, lt, eq, ge, itemgetter, attrgetter

In [2]:
# Generator example
def countdown(n):
    while n > 0:
        yield n
        n -= 1
list(countdown(5))

# Add operator example
add(2, 3)

5

In [3]:
# Mul operator example
mul(4, 5)

20

In [4]:
# Sub operator example
sub(10, 3)

7

In [5]:
# Truediv operator example
truediv(9, 2)

4.5

In [6]:
# Pow operator example
pow(2, 3)

8

In [7]:
# Lt operator example
lt(2, 3)

True

In [8]:
# Eq operator example
eq(4, 4)

True

In [9]:
# Ge operator example
ge(5, 2)

True

In [10]:
data = [{'name': 'Alice', 'age': 30},
        {'name': 'Bob', 'age': 25},
        {'name': 'Eve', 'age': 35}]
sorted_by_age = sorted(data, key=itemgetter('age'))
sorted_by_age

[{'name': 'Bob', 'age': 25},
 {'name': 'Alice', 'age': 30},
 {'name': 'Eve', 'age': 35}]

In [11]:
class Person:
    def __init__(self, name, score):
        self.name = name
        self.score = score

people = [Person('Alice', 95), Person('Bob', 80), Person('Eve', 90)]
sorted_people = sorted(people, key=attrgetter('score'))
[(p.name, p.score) for p in sorted_people]

[('Bob', 80), ('Eve', 90), ('Alice', 95)]

In [12]:
# Reduce example
nums = [1, 2, 3, 4, 5, 6]
total = reduce(lambda x, y: x + y, nums)
total

21

In [13]:
# Map example
squares = map(lambda x: x**2, [1, 2, 3, 4])
list(squares)

[1, 4, 9, 16]

In [14]:
evens = filter(lambda x: x % 2 == 0, range(10))
list(evens)

[0, 2, 4, 6, 8]

In [15]:
# LRU Cache example
@lru_cache(maxsize=None)
def fib(n):
    if n < 2: return n
    return fib(n-1) + fib(n-2)
fib(30)

832040

In [16]:
# Combinations iterator example
comb_iter = combinations([1, 2, 3], 2)
list(comb_iter)

[(1, 2), (1, 3), (2, 3)]

In [17]:
# Permutations iterator example
perm_iter = permutations([1, 2], 2)
list(perm_iter)

[(1, 2), (2, 1)]

In [18]:
# Prouct iterator example
prod_iter = product([1, 2], repeat=2)
list(prod_iter)

[(1, 1), (1, 2), (2, 1), (2, 2)]

In [19]:
# Accumulate iterator example
accu_iter = accumulate([1, 2, 3, 4])
list(accu_iter)

[1, 3, 6, 10]

In [20]:
# Zip iterator example
a = [1, 2, 3]
b = ['a', 'b', 'c']
zip_iter = zip(a, b)
list(zip_iter)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [21]:
# Sorted example
pairs = [(1, 3), (2, 1), (4, 2)]
sorted_pairs = sorted(pairs, key=lambda x:x[1])
sorted_pairs

[(2, 1), (4, 2), (1, 3)]

In [22]:
# List comprehensions example
squares = [x*x for x in range(5)]
evens = [x for x in range(10) if x % 2 == 0]
squares, evens

([0, 1, 4, 9, 16], [0, 2, 4, 6, 8])

# 1. Two Sum - 🟢 Easy

In [23]:
def two_sum(nums, target):
    lookup = {}
    for key, val in enumerate(nums):
        if target - val in lookup:
            return [lookup[target - val], key]
        lookup[val] = key
assert two_sum([2, 7, 11, 15], 9) == [0, 1]
assert two_sum([3, 2, 4], 6) == [1, 2]

# 2. Group Anagrams - 🟡 Medium

In [24]:
def group_anagrams(strs):
    groups = defaultdict(list)
    for word in strs:
        key = tuple(sorted(word))
        groups[key].append(word)
    return list(groups.values())

result = group_anagrams(["eat", "tea", "tan", "ate", "nat", "bat"])
assert sorted([sorted(group) for group in result]) == sorted([["bat"], ["nat", "tan"], ["ate", "eat", "tea"]])

# 3. Product of Array Except Self - 🟡 Medium

In [25]:
def product_except_self(nums):
    left = list(accumulate(nums, mul))
    right = list(accumulate(nums[::-1], mul))[::-1]

    result = []
    for i in range(len(nums)):
        l = left[i - 1] if i > 0 else 1
        r = right[i + 1] if i < len(nums) - 1 else 1
        result.append(l * r)
    return result

assert product_except_self([1, 2, 3, 4]) == [24, 12, 8, 6]

# 4. Find All Duplicates in an Array - 🟡 Medium

In [26]:
def find_duplicates(nums):
    count = Counter(nums)
    return [num for num, freq in count.items() if freq > 1]

assert sorted(find_duplicates([4, 3, 2, 7, 8, 2, 3, 1])) == [2, 3]
assert find_duplicates([1, 1, 2]) == [1]

# 5. Top K Frequent Elements - 🟡 Medium

In [27]:
def top_k_frequent(nums, k):
    count = Counter(nums)
    return [item for item, _ in count.most_common(k)]

assert sorted(top_k_frequent([1, 1, 1, 2, 2, 3], 2)) == [1, 2]